#header {
                margin : 10px;
                width: 900px;
                height: 150px;
                text-align: center;
            }

            #container {
                margin : 10px;
                width: 900px;
            }

            #menu {
            	width: 150px;
            	margin: 5px;
            	float: left;
            }

            #body {
            	width: 730px;
            	margin: 5px;
            	float: right;
            }

            #footer {
                margin : 10px;
                width: 900px;
                height: 100px;
            }

            .gray-background {
                background-color: gray;
            }

            ul{
            	list-style-type : none;
            }

            #menuItems li {
            	text-align: left;
            	padding: 2px;
            	color : white;
            }

            .bold-font {
                font-weight: bold;
            }

            a {
            	color : white;
            	font-style: italic;
            	font-size: 10px;
            	font-family: serif;
            	text-transform: uppercase;
            	text-decoration: none;
            }